body{
    font-size: 14px;
    margin:0;
    padding:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
aside{
    display: none;
}
.rightSide{
    display:inline-block;
    width:100%;
    flex-direction: row;
}
header{
    display:inline-block;
    display: flex;
    width:100%;
}
.head{
    width:100%;
}
section{
display:flex;
flex-wrap: wrap;
justify-content: center;
}
article{
    width:29%;
    display:flex;
    display: block !important;
    padding:10px;
}

.image{
    width:100%
}

.text{
 display: flex;
 flex-wrap: wrap;
 font-size: 1.6vw;
 font-family: sans-serif;
}

footer{
    background-color: #1a1b1d;
    color:white;
    display: block !important;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: auto;
}

.copy{
    text-align: center;
    font-size: 1.8vw;
    font-weight:700;
    padding:10px;
    font-family: sans-serif;
}