body{
    font-size: 14px;
    margin:0;
    padding:0;
}
aside{
    display:inline-block;
    width:20%;
    padding-top: 25%;
    display: inline-flex;
    vertical-align: top;
    font-size: 1.8vw;
    font-weight:700;
    font-family: sans-serif;
    flex-direction: column;
    text-align: center;
    color: #0f0f0f;
}
.logo{
    width:50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    margin-bottom: 100px;
}

.rightSide{
    display:inline-block;
    width:79%;
    flex-direction: row;
}

header{
    display:inline-block;
    display: flex;
    width:100%;
}
.head{
    width:100%;
}
section{
display:flex;
flex-wrap: wrap;
justify-content: center;
}
article{
    width:29%;
    display:flex;
    display: block !important;
    padding:10px;
}

.image{
    width:100%
}

.text{
 display: flex;
 flex-wrap: wrap;
 font-size: 1.6vw;
 font-family: sans-serif;
}

footer{
    background-color: #1a1b1d;
    color:white;
    display: block !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.copy{
    text-align: center;
    font-size: 1.8vw;
    font-weight:700;
    padding:10px;
    font-family: sans-serif;
}